.hideMenuNav{
    display: none;
}

.showMenuNav{
    position: absolute;
    background-color: white;
    top: 0px;
    left: 0px;
    width: 100vw;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}